<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Radiation Transport and Reactor Physics Research Group</title>

    <!-- <link href="{{ site.github.url }}/path/to/css.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ osuradtransportreactorphysics.github.io }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ osuradtransportreactorphysics.github.io }}/stylesheets/pygment_trac.css">

    <!-- <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="../stylesheets/pygment_trac.css"> -->
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      {{ content }}
    </div>
    <!-- <script src="../javascripts/scale.fix.js"></script> -->
    <script src="{{ osuradtransportreactorphysics.github.io }}/javascripts/scale.fix.js"></script>
  </body>
</html>
